@tailwind base;
@tailwind components;
@tailwind utilities;

/* crappy override of gray colors */
/* TODO: change this */

.bg-gray-800 {
  background-color: hsl(215deg 15% 17%);
}

.border-gray-800 {
  border-color: hsl(215deg 15% 17%);
}

.border-gray-700 {
  border-color: hsl(217deg 12% 27%);
}
